In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('dataset_final.xlsx')
df

     available                                              query
0         True   Can you provide me with a list of hotels avai...
1         True   Could you please provide a list of hotels ava...
2         True   Hey there, could you please provide me with a...
3         True   Can you provide a list of hotels available fo...
4         True   Hi there! I'm looking for hotel availability ...
..         ...                                                ...
575       True   Subject: Room Reservation Request at Premier ...
576       True   Hello there! I'd like to make a reservation a...
577       True   Dear Hotel Reservation,\n\nI'd like to make a...
578       True   Hey there! I'd like to reserve a room at the ...
579       True   Hello, I'd like to make a reservation for a r...

[580 rows x 2 columns]

In [3]:
train = df.sample(frac=0.8,random_state=42)
test = df.drop(train.index)

In [6]:
train.to_csv('train.csv', index=False)

In [7]:
test.to_csv('test.csv', index=False)